<!DOCTYPE html>
<html lang="en">

  <head>
    <!--Meta Data-->
    <%- include('partial/title.ejs'); %> 

    <% if (data.NODE_ENV == 'production') { %>
      <!-- Production Stylesheets -->
      <link rel="stylesheet" href="/assets/production/css/appointmentbooking3.min.css">

    <% }else { %>
      <!-- Development Stylesheets -->
      <link rel="stylesheet" href="/assets/lib/css/bootstrap.min.css">
      <link rel="stylesheet" href="/assets/lib/css/fontawesome.min.css">
      <link rel="stylesheet" href="/assets/lib/css/responsive.css">
      <link rel="stylesheet" href="/assets/lib/css/select2.min.css">
      <link rel="stylesheet" href="/assets/lib/css/spacing.css">
      <link rel="stylesheet" href="/assets/lib/css/style.css">
      <link rel="stylesheet" href="/assets/lib/css/owl.carousel.min.css">
      <link rel="stylesheet" href="/assets/lib/css/bootstrap-datepicker.min.css">
      <link rel="stylesheet" href="/assets/lib/css/magnific-popup.css">
      <link rel="stylesheet" href="/assets/css/header.css">

    <% } %>

  </head>

  <body onLoad="typeWriter()">
    <!--Header-->
    <%- include('partial/header.ejs', {data: data }); %>

    <br />
    <div class="text-center">
      <u>
        <h2>SELECT A DOCTOR</h2>
      </u>
    </div>
    <br />

    <div>
      <ol style="padding-left: 5rem;">
        <% data.doctor.forEach(function(item){ %>
          <div>
            <li style="font-size:1.5rem">
              <h4>Doctor Name : <%= item.name %>
              </h4>
              <h4>Doctor Address : <%= item.address %>
              </h4>
              <h4>Phone Number : <%= item.phone %>
              </h4>
              <a href="/patienthome/bookappointment/<%= data.patientid %>/<%= data.patientdisease %>/<%= item._id %> "
                class="btn btn-success">SELECT DOCTOR</a>

            </li>
            <br />
          </div>
          <% }); %>
      </ol>
    </div>
    
    <!--Footer-->    
    <%- include('partial/footer.ejs'); %>

    <script>
      var i = 0;
      var txt = 'WELCOME TO MEDBUDDY';
      var speed = 60;

      function typeWriter() {
        if (i < txt.length) {
          document.getElementById("typeit").innerHTML += txt.charAt(i);
          i++;
          setTimeout(typeWriter, speed);
        }
      }
    </script>

    <!-- JavaScript -->
    <script defer src="/assets/lib/js/jquery-3.4.1.min.js"></script>
    <script defer src="/assets/lib/js/popper.min.js"></script>
    <script defer src="/assets/lib/js/bootstrap.bundle.min.js"></script>
    <script defer src="/assets/lib/js/all.min.js"></script>
    <script defer src="/assets/lib/js/select2.full.min.js"></script>
    <script defer src="/assets/js/about.js"></script>

  </body>
</html>